*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 30px;
}
.containre{
    max-width: 800px;  
    margin: 0 auto;
}
.float-left{
    float: left
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.header-sairbar{
    height: 50px;
    background-color: plum;
    margin-bottom: 30px;
}
.section{
    height: 100px;
    background-color: forestgreen;
    margin-bottom: 20px;
}
.main-section{
    background-color: blue;
    height: 500px;
    width: 800px;
}
.table{
    background-color: aqua;
}
.left , .center , .right{
     height: calc(100% - 80px);
}

.top{
    margin-bottom: 20px;
}
.left , .right{
    width: 25%;
}
.center{
    margin: 0 10px;
    width: calc(50% - 20px);

}
footer{
    margin-top: 10px;
    background-color: grey;

}
